<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nomeMateria</key>
		<string>matematica</string>
		<key>provas</key>
		<array>
			<dict>
				<key>data</key>
				<string>jan 2015</string>
				<key>nome</key>
				<string>p1</string>
				<key>nota</key>
				<string>10</string>
			</dict>
			<dict>
				<key>data</key>
				<string>jun 2015</string>
				<key>nome</key>
				<string>p2</string>
				<key>nota</key>
				<string>8</string>
			</dict>
		</array>
		<key>faltas</key>
		<array>
			<dict>
				<key>data</key>
				<string>jan 2015</string>
				<key>motivo</key>
				<string>doenca</string>
			</dict>
			<dict>
				<key>data</key>
				<string>jun 2015</string>
				<key>motivo</key>
				<string>viagem</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nomeMateria</key>
		<string>historia</string>
		<key>provas</key>
		<array>
			<dict>
				<key>data</key>
				<string>jan 2015</string>
				<key>nome</key>
				<string>p1</string>
				<key>nota</key>
				<string>10</string>
			</dict>
			<dict>
				<key>data</key>
				<string>jun 2015</string>
				<key>nome</key>
				<string>p2</string>
				<key>nota</key>
				<string>7</string>
			</dict>
		</array>
		<key>faltas</key>
		<array/>
	</dict>
</array>
</plist>
